@{

} 
<select id="selIMAGEURL" class="form-control" name="IMAGEURL">
    <option value="asterisk" class="glyphicon glyphicon-asterisk" style="display:block"> glyphicon-asterisk</option>
    <option value="plus" class="glyphicon glyphicon-plus" style="display:block"> glyphicon-plus</option>
    <option value="minus" class="glyphicon glyphicon-minus" style="display:block"> glyphicon-minus</option>
    <option value="euro" class="glyphicon glyphicon-euro" style="display:block"> glyphicon-euro</option>
    <option value="envelope" class="glyphicon glyphicon-envelope" style="display:block"> glyphicon-envelope</option>
    <option value="cloud" class="glyphicon glyphicon-cloud" style="display:block"> glyphicon-cloud</option>
    <option value="cog" class="glyphicon glyphicon-cog" style="display:block"> glyphicon-cog</option>
    <option value="trash" class="glyphicon glyphicon-trash" style="display:block"> glyphicon-trash</option>
    <option value="home" class="glyphicon glyphicon-home" style="display:block"> glyphicon-home</option>
    <option value="time" class="glyphicon glyphicon-time" style="display:block"> glyphicon-time</option>
    <option value="road" class="glyphicon glyphicon-road" style="display:block"> glyphicon-road</option>
    <option value="list-alt" class="glyphicon glyphicon-list-alt" style="display:block"> glyphicon-list-alt</option>
    <option value="flag" class="glyphicon glyphicon-flag" style="display:block"> glyphicon-flag</option>
    <option value="book" class="glyphicon glyphicon-book" style="display:block"> glyphicon-book</option>
    <option value="tags" class="glyphicon glyphicon-tags" style="display:block"> glyphicon-tags</option>
    <option value="bookmark" class="glyphicon glyphicon-bookmark" style="display:block"> glyphicon-bookmark</option>
    <option value="adjust" class="glyphicon glyphicon-adjust" style="display:block"> glyphicon-adjust</option>
    <option value="open" class="glyphicon glyphicon-open" style="display:block"> glyphicon-open</option>
    <option value="bullhorn" class="glyphicon glyphicon-bullhorn" style="display:block"> glyphicon-bullhorn</option>
</select>