
@{
    //可删除此文件
    Layout = null;
}

<div class="input_parent wdate_div_width">
    <input class="Wdate " type="text" onclick="WdatePicker()" name="START_DATE" id="txtSTART_DATE" width="100" />

</div> <div class="fontzhi">至</div>
<div class="input_parent wdate_div_width"><input class="Wdate" type="text" onclick="WdatePicker()" name="END_DATE" id="txtEND_DATE" width="100" /></div>