@using ECP.B2b.DbModel.Sys;
@using ECP.B2b.ModelDto.System.UserMenu;
@{
    //Layout = "_AlterLayoutJs";
    //Layout = null;

    List<B2B_MENU> menus = (List<B2B_MENU>)ViewBag.Menus;
    List<MenuByUserDto> userMenus = (List<MenuByUserDto>)ViewBag.UserMenus;

}
<form class="form-horizontal" id="authority-modify-form">
    <input type="hidden" id="hidAuthority_USER_ID" name="USER_ID" value="@ViewBag.ID"/>
    <div class="container"> 
        <div class="row">
            <div class="form-group row">
                <div class="col-sm-6" style="padding:20px">
                    <button type="button" class="btn btn-success" id="btn-check-all">全选</button>
                    <button type="button" class="btn btn-danger" id="btn-uncheck-all">取消</button>
                    <button type="button" class="btn btn-success" id="btn-save-all">保存结果</button>
                </div>
            </div>
            <br />
            <div class="col-sm-4">
                <div id="treeview-checkable" class=""></div>
            </div>
            @*<div class="col-sm-4">
                <h2>Events</h2>
                <div id="checkable-output"></div>
            </div>*@
        </div>
    </div>
</form>
@*<script src="~/Scripts/jquery.min.js"></script>*@

<script src="~/Scripts/bootstrap-table/bootstrap-treeview.js"></script>
<script type="text/javascript">


     var defaultData = [
            @foreach (var menu in menus.Where(m => m.MENU_TYPE == "M").OrderBy(m=>m.ORDER))
            {
                <text>{
             text:"@menu.MENU_NAME",
             tags: [@menu.ID],

             @if (userMenus.Count(sm => sm.MAIN_MENU_ID == menu.ID) > 0)
             {
                  <text>
                        state: { checked: true },
                  </text>
             }


             nodes: [
                         @foreach (var subMenu in menus.Where(m => m.MAIN_MENU_ID == menu.ID).OrderBy(m => m.ORDER))
                         {
                                <text>
                    {
                         text: "@subMenu.MENU_NAME",
                         @if (userMenus.Count(sm => sm.SUBMENU_ID == subMenu.ID) > 0)
                         {
                              <text>
                                    state: { checked: true },
                              </text>
                         }
                          nodes: [
                                                     @foreach (var sunMenu in menus.Where(m => m.MAIN_MENU_ID == subMenu.ID).OrderBy(m => m.ORDER))
                                                     {

                                                            <text>
                                                            {
                                                                 text: "@sunMenu.MENU_NAME",
                                                                 @if (userMenus.Count(sm => sm.SUBMENU_ID == sunMenu.ID) > 0)
                                                                 {
                                                                      <text>
                                                                            state: { checked: true },
                                                                      </text>
                                                                 }
                                                                    tags: [@menu.ID,@sunMenu.ID],
                                                            },
                                                            </text>

                                                     }
                                              ],
                            tags: [@menu.ID,@subMenu.ID],
                    },
                                </text>
                         }
                ]
         },</text>
                        }
         ];


    $(function () {

                            var $checkableTree = $('#treeview-checkable').treeview({
                                data: defaultData,
            showIcon: false,
            showCheckbox: true,
            levels:1,
            onNodeChecked: nodeChecked,
            onNodeUnchecked: nodeUnchecked
                    });

        var findCheckableNodess = function () {
            return $checkableTree.treeview('search', [$('#input-check-node').val(), { ignoreCase: false, exactMatch: false }]);
        };
            var checkableNodes = findCheckableNodess();

        $('#input-check-node').on('keyup', function (e) {
                checkableNodes = findCheckableNodess();
            $('.check-node').prop('disabled', !(checkableNodes.length >= 1));
            });

        $('#btn-check-node.check-node').on('click', function (e) {
            $checkableTree.treeview('checkNode', [checkableNodes, { silent: $('#chk-check-silent').is(':checked') }]);
            });

        $('#btn-uncheck-node.check-node').on('click', function (e) {
            $checkableTree.treeview('uncheckNode', [checkableNodes, { silent: $('#chk-check-silent').is(':checked') }]);
            });

        $('#btn-toggle-checked.check-node').on('click', function (e) {
            $checkableTree.treeview('toggleNodeChecked', [checkableNodes, { silent: $('#chk-check-silent').is(':checked') }]);
            });

        $('#btn-check-all').on('click', function (e) {
            $checkableTree.treeview('checkAll', { silent: $('#chk-check-silent').is(':checked') });
            });

        $('#btn-uncheck-all').on('click', function (e) {
            $checkableTree.treeview('uncheckAll', { silent: $('#chk-check-silent').is(':checked') });
            });

        $("#btn-save-all").on("click", function (e) {

            var checkedArray = $checkableTree.treeview('getChecked');
            var menuUserList = [];
            //拿到所有选取的子节点
            for (var i = 0; i < checkedArray.length; i++)
            {
                if (checkedArray[i].parentId != undefined)
                {
                    menuUserList.push({
                        USER_ID:@ViewBag.ID,
                        MAIN_MENU_ID:checkedArray[i].tags[0],
                        SUBMENU_ID: checkedArray[i].tags[1],
                    });
                }
            }
            if (menuUserList.length == 0)
            {
                menuUserList.push({
                        USER_ID:@ViewBag.ID,
                        MAIN_MENU_ID:-100,
                        SUBMENU_ID: -100,
                    });
            }


            $.onExPostReq({
                reqUrl: "Authority",
                params:{
                    userMenus: menuUserList
                },
                onSuccess: function (response) {
                    $.alert(response.NumberMsg, null, null);
                }
            });
        });



        /**
         * 以下 代码 实现级联选择
         */

        var nodeCheckedSilent = false;
        function nodeChecked(event, node) {
            if (nodeCheckedSilent) {
                return;
            }
            nodeCheckedSilent = true;
            checkAllParent(node);
            checkAllSon(node);
            nodeCheckedSilent = false;
        }

        var nodeUncheckedSilent = false;
        function nodeUnchecked(event, node) {
            if (nodeUncheckedSilent)
                return;
            nodeUncheckedSilent = true;
            uncheckAllParent(node);
            uncheckAllSon(node);
            nodeUncheckedSilent = false;
        }

        //选中全部父节点
        function checkAllParent(node) {
            $('#treeview-checkable').treeview('checkNode', node.nodeId, { silent: true });
            var parentNode = $('#treeview-checkable').treeview('getParent', node.nodeId);
            if (!("nodeId" in parentNode)) {
                return;
            } else {
                checkAllParent(parentNode);
            }
        }
        //取消全部父节点
        function uncheckAllParent(node) {
            $('#treeview-checkable').treeview('uncheckNode', node.nodeId, { silent: true });
            var siblings = $('#treeview-checkable').treeview('getSiblings', node.nodeId);
            var parentNode = $('#treeview-checkable').treeview('getParent', node.nodeId);
            if (!("nodeId" in parentNode)) {
                return;
            }
            var isAllUnchecked = true;  //是否全部没选中
            for (var i in siblings) {
                if (siblings[i].state.checked) {
                    isAllUnchecked = false;
                    break;
                }
            }
            if (isAllUnchecked) {
                uncheckAllParent(parentNode);
            }

        }

        //级联选中所有子节点
        function checkAllSon(node) {
            $('#treeview-checkable').treeview('checkNode', node.nodeId, { silent: true });
            if (node.nodes != null && node.nodes.length > 0) {
                for (var i in node.nodes) {
                    checkAllSon(node.nodes[i]);
                }
            }
        }
        //级联取消所有子节点
        function uncheckAllSon(node) {
            $('#treeview-checkable').treeview('uncheckNode', node.nodeId, { silent: true });
            if (node.nodes != null && node.nodes.length > 0) {
                for (var i in node.nodes) {
                    uncheckAllSon(node.nodes[i]);
                }
            }
        }

    });
</script>
